infra/environments/dev/us-central1/backend-code
infra/environments/dev/us-central1/frontend-code
infra/environments/dev/us-central1/.terraform*
infra/environments/dev/us-central1/terraform.*

infra/environments/dev/us-east1/backend-code
infra/environments/dev/us-east1/frontend-code
infra/environments/dev/us-east1/.terraform*
infra/environments/dev/us-east1/terraform.*

infra/environments/production/us-central1/backend-code
infra/environments/production/us-central1/frontend-code
infra/environments/production/us-central1/.terraform*
infra/environments/production/us-central1/terraform.*

infra/environments/production/us-east1/backend-code
infra/environments/production/us-east1/frontend-code
infra/environments/production/us-east1/.terraform*
infra/environments/production/us-east1/terraform.*

infra/environments/staging/us-central1/backend-code
infra/environments/staging/us-central1/frontend-code
infra/environments/staging/us-central1/.terraform*
infra/environments/staging/us-central1/terraform.*

infra/environments/staging/us-east1/backend-code
infra/environments/staging/us-east1/frontend-code
infra/environments/staging/us-east1/.terraform*
infra/environments/staging/us-east1/terraform.*

.gitignore